[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
nltk = "*"
requests-html = "*"
textblob = "*"
flask = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
honcho = "*"
pytest = "*"
