<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <script src="{{ url_for ('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for ('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for ('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for ('static', filename='js/Chart.bundle.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="logo-wrapper" class="col-md" align="center">
                    <a class="display-4" href="{{ url_for('index') }}">
                        <img id="logo" src="{{ url_for ('static', filename='images/logo.png') }}"/>
                       Lyric analyser
                    </a>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>