{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm">
        <h1 class="display-3 text-center"><strong>Search for an artist</strong></h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="artistName" aria-describedby="artistNameHelp" placeholder="Enter artist name">
            </div>
        </form>

        <div id="results">
        </div>
    </div>
</div>
<script>
var delayTimer;

$("#artistName").keyup(
    function updateSearch(e) {
        e.preventDefault();

        clearTimeout(delayTimer);

        delayTimer = setTimeout(function() {
            var input = $("#artistName").val();
            if (input.length > 1) {
                var request = $.ajax({
                    type: "GET",
                    url: "/search?q=" + input,
                    success: function(result) {
                        var output = $("#results");
                        output.html(result);
                    }
                });
            }
         }, 500);
    }
);
</script>
{% endblock %}